<%= provide(:title, "Asthmaticus Protocol") %>
<div class="row">
	<div class="col-xs-12 col-md-offset-1 col-md-10">
		<div class="container-fluid">

			<div class="jumbotron">
				<div class="row">
					<div class="col-xs-offset-1 col-xs-10">
				    <h1 class="title">Status Asthmaticus Pediatric Bundle</h1>
				    <p style="font-size:0.9em">(Version PLACEHOLDER)</p>
				    <p style="text-transform:uppercase"><small><b>Children's Hospital Research Center Oakland</b></small></p>
				    <p style="display:inline-block">Heidi Flori, M.D.</p>
				    <p style="display:inline-block">&nbsp;&nbsp;&nbsp;&nbsp;</p>
				    <p style="display:inline-block">Natalie Cvijanovich M.D.</p>
					</div><!-- /.col-xs-offset-10 .col-xs-10 -->
				</div><!-- /.row -->
			</div><!-- /.jumbotron -->

			<div class="row">
				<div class="col-xs-12">
					<div class="thumbnail">
						<div class="caption">
			        <div class="panel panel-danger">
			        	<div class="panel-heading">
			        		<h1>Do Not Miss</h1>
			        	</div><!-- /.panel-heading -->
			        	<div class="panel-body do-not-miss">
			        		<div class="alert alert-warning">
			        			<p></p>
			        			<ul>
			        				<li></li>
			        				<li></li>
			        			</ul>
			        		</div><!-- /.alert .alert-warning -->
			        		<div class="alert alert-warning">
			        			<p></p>
			        			<ul>
			        				<li></li>
			        				<li></li>
			        			</ul>
			        		</div><!-- /.alert .alert-warning -->
			        	</div><!-- /.panel-body .do-not-miss -->
			        </div><!-- /.panel .panel-danger -->
						</div><!-- /.caption -->
					</div><!-- /.thumbnail -->
				</div><!-- /.col-xs-12  -->
			</div><!-- /.row -->

			<div class="row">
				<div class="col-xs-12">
					<div class="thumbnail">
						<div class="caption">
							<ul>
								<li>
									<p><a href="#pediatric-treatment-bundle"><b>Status Asthmaticus Pediatric Treatment Bundle</b></a></p>
									<ul>
										<li><p><a href="#period-zero"></a></p></li>
										<li><p><a href="#period-one"></a></p></li>
										<li><p><a href="#period-two"></a></p></li>
										<li><p><a href="#period-three"></a></p></li>
			        		</ul>
								</li>
							</ul>
						</div><!-- /.caption -->
					</div><!-- /.thumbnail -->
				</div><!-- /.col-xs-12  -->
			</div><!-- /.row -->

			<div class="row">
				<div class="col-xs-12">
					<div class="thumbnail">
						<div class="caption">

			        <section id="pediatric-treatment-bundle">
								<h1 style="text-align:left">Status Asthmaticus Pediatric Treatment Bundle</h1>
			        </section><!-- /#pediatric-treatment-bundle -->

			        <section id="period-zero">
								<h1 style="text-align:left"></h1>
								<p>TBD</p>
								<ol type="1">
									<li><p></p></li>
								</ol>
							</section><!-- /#period-zero -->

							<section id="period-one">
								<h1 style="text-align:left"></h1>
								<p>TBD</p>
								<ol type="1">
									<li><p></p></li>
								</ol>
			        </section><!-- /#period-one -->

							<section id="period-two">
								<h1 style="text-align:left"></h1>
								<p>TBD</p>
								<ol type="1">
									<li><p></p></li>
								</ol>
			        </section><!-- /#period-two -->

							<section id="period-three">
			        </section><!-- /#period-three -->

			        <section id="assessment">
								<h1 style="text-align:left">Assessment</h1>
			        </section><!-- /#assessment -->

							<section id="sample-table">
				        <div class="panel panel-info">
				        	<div class="panel-heading">
										<p>Sample Table</p>
				        	</div><!-- /.panel-heading -->
				        	<div class="panel-body">
										<p><small>Sample Table</small></p>
				        	</div><!-- /.panel-body -->
									<table class="table">
										<tr>
											<th>Col 1</th>
											<th>Col 2</th>
										</tr>
										<tr>
											<td>Data</td>
											<td>Data</td>
										</tr>
										<tr>
											<td>Data</td>
											<td>Data</td>
										</tr>
									</table>
				        </div><!-- /.panel .panel-info -->
			        </section><!-- /#sample-table -->

						</div><!-- /.caption -->
					</div><!-- /.thumbnail -->
				</div><!-- /.col-xs-12 -->
			</div><!-- /.row -->

		</div><!-- /.container-fluid -->
	</div> <!-- /.col-xs-12 .col-sm-offset-1 .col-sm-10 -->
</div> <!-- /.row -->

