<%= provide(:title, "Asthmaticus Protocol") %>
<div class="row">
	<div class="col-xs-12">

		<div class="center jumbotron">
	    <h1 class="title">Status Asthmaticus Pediatric Bundle</h1>
	    <p style="font-size:0.9em">(Version unknown)</p>
	    <p style="text-transform:uppercase"><small><b>Children's Hospital Research Center Oakland</b></small></p>
	    <p style="display:inline-block">Heidi Flori, M.D.</p>
	    <p style="display:inline-block">&nbsp;&nbsp;&nbsp;&nbsp;</p>
	    <p style="display:inline-block">Natalie Cvijanovich M.D.</p>
		</div> <!-- .center .jumbotron -->
		
		<div class="row">
			<div class="col-xs-12">
				<hr style="border-top:1px dotted #ccc">
				<div class="panel panel-primary">
					<div class="panel-heading"><p>Under Development</p></div>
					<div class="panel-body"><p>Currently being ported to this website.</p></div>
				</div>
				<hr style="border-top:1px dotted #ccc">
			</div> <!-- End .col-xs-12 -->
		</div> <!-- End .row -->

	</div> <!-- End .col-xs-12 -->
</div> <!-- End .row -->
