<%= provide(:title, "Sepsis Protocol") %>
<div class="row">
	<div class="col-md-10 col-md-offset-1">

		<!-- Slides -->
		<div class="reveal">
			<div class="slides">
				<section class="present">Single Sepsis Horizontal Slide</section>
				<section>
					<section>Sepsis Vertical Slide 1</section>
					<section>Sepsis Vertical Slide 2</section>
				</section>
			</div>
		</div>

	</div>
</div>
